@model EntityLayer.Concrete.Customer
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_IULayout.cshtml";
}

<h1>Ürün Güncelleme İşlemi</h1>

<form method="post">
    @Html.Label("Müşteri Id:")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Ad:")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Şehir:")
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    <br />
    @Html.Label("Meslek Seçiniz:")
    @Html.DropDownListFor(x => x.JobId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>